.greenthumb-logo {
  width: 145px;
}

.register-body {
  background: var(--landing-background);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.form-title-wrapper {
  background: #2a2623;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  padding: 0.75em 2em;
  font-size: 32px;
}

.form-wrapper {
  border: solid 1px var(--card-border);
  background: #34302d;
  height: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 992px) {
    flex-direction: row;
    width: 1113px;
    height: 650px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 2em 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label,
input {
  padding-left: 0.7em;
}

input,
.form-field,
.register-button,
.form-wrapper {
  border-radius: 8px;
}

.user-infos {
  @media screen and (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    padding: 0.7em 2em;
  }
}

.firstname-field {
  @media screen and (min-width: 992px) {
    grid-column: span 2 / span 2;
  }
}
.lastname-field {
  @media screen and (min-width: 992px) {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
  }
}
.username-field {
  @media screen and (min-width: 992px) {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
  }
}
.city-field {
  @media screen and (min-width: 992px) {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
  }
}

.email-field {
  @media screen and (min-width: 992px) {
    grid-column: span 4 / span 4;
    grid-row-start: 3;
  }
}
.password-field {
  @media screen and (min-width: 992px) {
    grid-column: span 2 / span 2;
    grid-row-start: 4;
  }
}
.password-label {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
}

.confirm-password-field {
  @media screen and (min-width: 992px) {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 4;
  }
}
.password-view-icon {
  width: 20px;
}
.password-view-button {
  border: none;
  background: transparent;
}
.form-error {
  width: 230px;
  height: 10px;
  color: red;
  font-size: 0.9rem;
}

.form-field {
  display: flex;
  border: none;
  flex-direction: column;
  background: #413d3a;
  margin: 0.8em;
}

.form-input {
  width: 90%;
  height: 25px;
  border: none;
  background: #413d3a;
  font-weight: bold;
  font-size: larger;
  color: var(--main-font-color);
}

.register-button-wrapper {
  border: none;
  display: flex;
  margin: 1em 2em;
  justify-content: center;
  @media screen and (min-width: 992px) {
    justify-content: right;
  }
}

.register-button {
  background: none;
  border: solid 1px var(--card-border);
  color: var(--active-text-color);
  padding: 0 2em;
  width: 230px;
  height: 56px;
  cursor: pointer;
}

.register-button--disabled {
  border: solid 1px var(--inactive-text-color);
  color: var(--inactive-text-color);
}

.floating-label-container {
  position: relative;
  margin-top: 1em;
}

.floating-label-container input {
  padding: 0 2em;
  font-size: 1rem;
  background: none;
  outline: none;
}

.floating-label-container label {
  position: absolute;
  top: 30%;
  left: 38%;
  transform: translateY(-50%);
  padding: 0 4px;
  color: var(--main-font-color);
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.2s ease;
}

.floating-label-container input:focus + label,
.floating-label-container input:not(:placeholder-shown) + label {
  top: -8px;
  left: 8px;
  font-size: 1rem;
  color: var(--inactive-text-color);
}
