body {
  background: var(--landing-background);
  background-size: cover;
  display: flex;
  justify-content: center;
}

.form-title-wrapper {
  background: #2a2623;
  display: flex;
  justify-content: center;
}

.form-title {
  padding: 0.75em 2em;
  margin: 0;
  font-size: 32px;
}

.form-wrapper {
  border: solid 1px var(--card-border);
  border-radius: 8px;
  background: #34302d;
  height: 730px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 992px) {
    flex-direction: row;
    width: 1113px;
    height: 650px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 2em;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: 992px) {
    padding-left: 4em;
  }
}

.user-infos {
  @media screen and (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    padding: 0.7em 2em;
  }
}

.firstname-field {
  @media screen and (min-width: 992px) {
    grid-column: span 2 / span 2;
  }
}
.lastname-field {
  @media screen and (min-width: 992px) {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
  }
}
.username-field {
  @media screen and (min-width: 992px) {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
  }
}
.city-field {
  @media screen and (min-width: 992px) {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
  }
}

.email-field {
  @media screen and (min-width: 992px) {
    grid-column: span 4 / span 4;
    grid-row-start: 3;
  }
}
.password-field {
  @media screen and (min-width: 992px) {
    grid-column: span 2 / span 2;
    grid-row-start: 4;
  }
}

.confirm-password-field {
  @media screen and (min-width: 992px) {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 4;
  }
}

.password-view-icon {
  width: 20px;
}
.password-view-button {
  border: none;
  background: transparent;
}
.form-field {
  display: flex;
  border: none;
  flex-direction: column;
  border-radius: 8px;
  background: #413d3a;
  margin: 0.8em;
}

.form-input {
  height: 25px;
  border: none;
  background: #413d3a;
  font-weight: bold;
  font-size: larger;
  color: var(--main-font-color);
}

.register-button-wrapper {
  border: none;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 992px) {
    justify-content: right;
    margin: 1em 2em;
  }
}

.register-button {
  background: none;
  border: solid 1px #55514f;
  color: #55514f;
  padding: 0 2em;
  width: 230px;
  height: 56px;
  border-radius: 8px;
  cursor: pointer;
}
