.plant-card {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  padding: 1.25rem;
  border: 2px solid #c4ff3f;
  border-radius: 12px;
  background: #1e1c1a;
  cursor: pointer;
}

.plant-image-wrapper {
  flex: 0 0 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plant-image {
  max-width: 100%;
  max-height: 160px;
  object-fit: cover;
}

.plant-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #262624;
  padding: 0 0.5rem;
  border-radius: 8px;
}
.plant-info span {
  font-size: larger;
}

.info-line {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #ffffff;
  font-size: 1rem;
}

.plantcard-info-icon,
.plantcard-toxic-icon,
.plantcard-harmless-icon {
  width: 30px;
  height: 30px;
}
