.dashboard-desktop-box {
  padding-bottom: 100px;
  @media screen and (min-width: 992px) {
    margin-left: 250px;
  }
}

.plant-to-water-container {
  margin: 0 3em;
}

.intro-greenthumb {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 992px) {
    margin-left: 250px;
    margin-top: 3em;
  }
}

.garden-navigation {
  margin-top: 2em;
  cursor: pointer;
  width: 50px;
}

.prompt-to-navigate {
  text-align: center;
}

.navigation-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3em;
}

.water-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
