.plant-doctor-responsive {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 10px;
  box-sizing: border-box;
  background-color: #1e1e1e;
  height: 90vh;
  overflow: hidden;

  @media (min-width: 992px) {
    margin-left: 250px;
    height: 100vh;
    padding: 60px 20px;
  }
}

.plant-doctor-box {
  background-color: #30312c;
  border: 1px solid #b3d537;
  border-radius: 12px;
  padding: 20px;
  font-family: var(--main-font);
  color: white;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

.leaf-decor {
  width: 60px;
}
.plant-doctor-box h1 {
  margin: 0;
}

.line-decor {
  border-color: #b3d537;
  width: 100%;
}

.plant-doctor-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 992px) {
  .plant-doctor-content {
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 992px) {
    padding-top: 160px;
  }
}

.preview-image {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  border: 2px solid #b3d537;
  object-fit: contain;
}

.result-container {
  flex: 1;
  overflow-y: auto;
}
