.plant-card {
  border: 1px solid #9fcf00;
  border-radius: 6px;
  padding: 8px;
  background-color: #222222;
  color: white;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  height: 90%;
  width: 80%;
}

.plant-top {
  display: flex;
  justify-content: flex-end;
}

.selected {
  border: 1px solid white;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
}

.plant-img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.plant-item-name {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.plant-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}

.plant-controls button {
  background: none;
  border: none;
  color: #9fcf00;
  font-size: 1.2rem;
  cursor: pointer;
}

.plant-quantity {
  border: 1px solid #9fcf00;
  border-radius: 10px;
  padding: 2px 6px;
  min-width: 20px;
  text-align: center;
  font-weight: bold;
}
