.landing-container {
  background-image: var(--landing-background);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing-banner {
  background: var(--transparent-card-background);
  border: solid 1px #879271;
  border-radius: 25px;
  margin-right: 10em;
  display: flex;
  max-width: 800px;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 992px) {
    display: none;
  }
}

.phone-representation {
  width: 50%;
  margin: 70px 0;
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.banner-title {
  text-align: center;
  font-size: 30px;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.logo-icon {
  margin: 0;
  font-size: 40px;
  margin-bottom: 10px;
  align-items: center;
}

.logo-icon img {
  width: 147px;
  height: 147px;
  margin-bottom: 0;
  display: block;
}

.welcome-title {
  color: var(--main-font-color);
  font-size: 28px;
  font-weight: bold;
  margin-top: 0px;
}

.btn {
  font-size: 16px;
  padding: 12px 30px;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 240px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 40px;
}

.btn:first-of-type {
  margin-top: 50px;
  color: white;
}

.btn-primary {
  background-color: var(--card-border);
  border: none;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  background-color: #b0cc3b;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--card-border);
  color: var(--card-border);
}

.btn-outline:hover {
  background-color: rgba(198, 224, 69, 0.1);
}
