.tutorial-responsive {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  @media (min-width: 992px) {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
  }
}

.leaf-decor {
  width: 60px;
}

.tutorial-box {
  max-width: 100vw;
  overflow-y: auto;
  background-color: #30312c;
  border: 1px solid #b3d537;
  border-radius: 12px;
  padding: 20px;
  font-family: var(--main-font);
  box-sizing: border-box;
}

hr {
  border-color: #b3d537;
  margin-bottom: 20px;
  width: 100%;
}
