.add-plant-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 32px;
  line-height: 0;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  z-index: 1000;
}

.add-plant-btn.floating {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

@media (max-width: 992px) {
  .add-plant-btn.floating {
    bottom: 8rem;
  }
}

.add-plant-btn.static {
  margin-top: 2rem;
  position: static;
  align-self: center;
}

.add-plant-btn:hover {
  background-color: #43a047;
}
