.plant-profile-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @media (min-width: 992px) {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 0 4em;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 342px 350px;
    gap: 4em 8px;
  }
}

.plant-photo-gallery {
  border: solid 1px #fff;
  border-radius: 8px;
  margin: 0.5em;
  @media screen and (min-width: 992px) {
    width: 100%;
    grid-column: span 2 / span 2;
    justify-self: center;
  }
}

.add-photo-icon {
  width: 53px;
  height: 53px;
  @media screen and (min-width: 992px) {
    margin-left: 2em;
    padding-top: 0.3em;
  }
}
.plant-profile-card {
  background-color: var(--app-icon);
  border-radius: 8px;

  @media screen and (max-width: 992px) {
    margin: 0.5em;
    max-height: 180px;
  }
}

.plant-profile-card h2,
h3 {
  margin-left: 1em;
  margin-bottom: 0;

  @media screen and (min-width: 992px) {
    margin-bottom: 1em;
  }
}

.plant-profile-card h3 {
  @media screen and (max-width: 992px) {
    font-size: small;
  }
}

hr {
  width: 90%;
}

.plant-profile-infos {
  background-color: var(--main-background);
  width: 90%;
  max-height: 180px;
  border-radius: 8px;
  margin-bottom: 1em;
  margin-left: 1em;

  @media screen and (min-width: 992px) {
    height: 180px;
    padding-left: 1em;
  }
}

.plant-profile-infos p {
  @media screen and (min-width: 992px) {
    margin: 0;
    padding-top: 1em;
  }
}

.profile-card {
  border: solid var(--card-border);
  border-radius: 8px;
  height: 619px;
  width: 334px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 68px;
  background: var(--card-background);
  @media screen and (min-width: 992px) {
    width: 1213px;
    height: 739px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 90px 1fr;
    gap: 8px;
  }
}

.icon-card {
  display: flex;
  justify-content: space-around;
  @media screen and (min-width: 992px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 1em;
    margin-bottom: 1em;
    padding-top: 3em;
  }
}

.birthdate-infos {
  display: flex;
  align-items: center;
}

.birthdate {
  font: var(--main-font);
  color: var(--main-font-color);
  font-size: smaller;
  padding-left: 1em;
  @media screen and (min-width: 992px) {
    font-size: larger;
  }
}

.icons {
  display: flex;
  flex-direction: row;
}

.pen-icon {
  width: 18px;
  padding-left: 0.7em;
}

.info-icon,
.exposition-icon,
.harmless-icon {
  width: 35px;
  height: 35px;
}

.calendar-icon {
  width: 32px;
  height: 32px;
}

.info-icon,
.exposition-icon,
.harmless-icon,
.calendar-icon {
  @media screen and (min-width: 992px) {
    width: 50px;
    height: 50px;
  }
}

.toxic-icon {
  width: 35px;
  height: 35px;
  @media screen and (min-width: 992px) {
    width: 53px;
    height: 53px;
  }
}
.plant-profile-reminder {
  border: solid 1px #fff;
  border-radius: 8px;

  @media screen and (max-width: 992px) {
    margin: 0.5em;
    max-height: 180px;
  }
}

.plant-profile-reminder hr {
  margin-bottom: 0;
}

.plant-profile-reminder h2 {
  margin: 0;
  @media screen and (min-width: 992px) {
    margin: 1em;
  }
}

.info-wrapper {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.info-wrapper h2 {
  padding-left: 2em;
  font-size: small;
  @media screen and (min-width: 992px) {
    font-size: large;
  }
}

.info-wrapper h3 {
  margin: 0;
  font-size: small;
  @media screen and (min-width: 992px) {
    font-size: large;
  }
}

.watering-info,
.exposition-info,
.alert-info {
  border-radius: 4px;
  padding: 0.1em;
  @media screen and (min-width: 992px) {
    border-radius: 8px;
  }
}

.watering-info,
.exposition-info {
  background-color: var(--app-icon);
}

.alert-info {
  background-color: #ec1010;
}
