.menu-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4em;
  padding-top: 1em;
  position: sticky;
  bottom: 0;
  overflow: hidden;
  background-color: var(--card-background);

  @media screen and (min-width: 992px) {
    position: fixed;
    height: 100%;
    flex-direction: column;
    width: 250px;
    margin-top: 0;
    align-items: flex-start;
  }
}

.nav-item {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 0.5em 1em;
  gap: 0.8em;
  width: 100%;
}

.nav-text {
  font-family: var(--main-font);
  font-size: 24px;
  white-space: nowrap;
  transition: color 0.3s ease;
  text-align: left;

  @media screen and (max-width: 992px) {
    display: none;
  }
}
